{% extends "moocadmin/base_form.html" %}
{% block header %}
<header id="header" class="info">
	<h2>
		New student registration
	</h2>
	<div>
		Fill out this form to start your online lessons with Hyperion Development.  Online lessons are FREE.<br /><br />Hyperion also offers in person one-on-one programming training in any language or topic you would like to develop skills in. Please  
		
		<a href="https://hyperionde.wufoo.eu/forms/private-training-registration/"> 
			click here
		</a> 
		
		to sign up for this service - rates start at R100/lesson.
	</div>
</header>
{% endblock %}

{% block form %}
{% endblock %}